<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <form class="form-horizontal" [formGroup]="medicalletterForm">
          <div class="card-header">
            <strong>Generate Medical Letter</strong>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button type="button" class="btn btn-primary" (click)="searchCustomerModal.show()"><i class="fa fa-search"></i>
                      Search Customer</button>
                  </span>
                  <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Customer"
                    formControlName="AssureName">
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button type="button" class="btn btn-primary" (click)="searchProposalModal.show()"><i class="fa fa-search"></i>
                      Search Proposal</button>
                  </span>
                  <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Proposal"
                    formControlName="ProposalNo">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="isAgeAdmitted">Hospital</label>
              <div class="col-md-3">
                <select id="hospital" name="hospital" class="form-control" formControlName="HospitalId">
                  <option value="0">Please select</option>
                  <option *ngFor="let hospital of hospitals" value={{hospital.SeqId}}>{{hospital.Name}}</option>
                </select>
              </div>
              <label class="col-md-1 col-form-label" for="isAgeAdmitted">Letter Type</label>
              <div class="col-md-3">
                <select id="LetterType" name="LetterType" class="form-control" formControlName="LetterType">
                  <option value="0">Please select</option>
                  <option value="Credit">Credit</option>
                  <option value="Non-Credit">Non-Credit</option>
                  <option value="Further-Medical">Further-Medical</option>
                </select>
              </div>
              <label class="col-md-1 col-form-label" for="isAgeAdmitted">Sign Person</label>
              <div class="col-md-3">
                <select id="signPerson" name="signPerson" class="form-control" formControlName="SignPersonUserCode">
                  <option value="0">Please select</option>
                  <option *ngFor="let signPerson of signPersons" value={{signPerson.UserCode}}>{{signPerson.Name}}</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="">Medical Tests</label>
              <div class="col-md-12">


                <div class="form-group row" *ngFor="let medicalTest of medicalTests">
                  <label class="col-md-6 col-form-label"> {{medicalTest.TestName}}</label>

                  <label class="switch switch-label switch-pill switch-primary">

                    <input type="checkbox" class="switch-input" value="{{medicalTest.SeqId}}" (change)="onCheckboxChange(medicalTest,$event)">
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>

                  </label>

                </div>



              </div>

            </div>



          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-ladda" (click)="onSubmit()" data-style="contract-overlay" style="z-index: 10;"
              [ladda]='isLoading'>Submit</button>
            <button class="btn btn-primary btn-ladda" (click)="displayMedicalLetter()" data-style="contract-overlay"
              style="z-index: 10;" [ladda]='isLoading'>View Medical Letter</button>


            <div class="col-md-2" hidden>
              <button class="btn btn-primary" (click)="viewMedicalLetterModal.show()" id="openMedicalLetterModalButton">Show
                Quotation</button>
            </div>

            <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<div bsModal #searchCustomerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Search Customer</h4>
        <button type="button" class="close" (click)="searchCustomerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <form class="form-horizontal" [formGroup]="searchCustomerForm">
                <div class="card-header">
                  <strong>Search Customers</strong>
                </div>
                <div class="card-body">

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-email">Name</label>
                    <div class="col-md-9">
                      <input type="text" id="Name" name="Name" class="form-control" formControlName="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-password">NIC</label>
                    <div class="col-md-9">
                      <input type="text" id="NIC" name="NIC" class="form-control" formControlName="NIC">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-password">Address</label>
                    <div class="col-md-9">
                      <input type="text" id="Address" name="Address" class="form-control" formControlName="Address">
                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <button class="btn btn-primary" (click)="onCustomerSearchSubmit()"><i class="fa fa-dot-circle-o"></i>
                    Search</button>
                  <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>



                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Seacrh Result
              </div>
              <div class="card-body">
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                  <thead>
                    <tr>
                      <th style="width: 10%">
                        <mfDefaultSorter by="Name">Id</mfDefaultSorter>
                      </th>
                      <th style="width: 50%">
                        <mfDefaultSorter by="Name">Name</mfDefaultSorter>
                      </th>
                      <th style="width: 30%">
                        <mfDefaultSorter by="NIC">NIC</mfDefaultSorter>
                      </th>
                      <th style="width: 10%">
                        Edit
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let customer of mf.data">
                      <td>{{ customer.SeqId }}</td>
                      <td>{{ customer.Name }}</td>
                      <td>{{ customer.NIC }}</td>
                      <td><a (click)="onCustomerSelectSubmit(customer.SeqId,customer.Name)" class="btn btn-primary">Select</a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>



              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="searchCustomerModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div bsModal #searchProposalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Search Proposal</h4>
        <button type="button" class="close" (click)="searchProposalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <form class="form-horizontal" [formGroup]="searchProposalForm">
                <div class="card-header">
                  <strong>Search Proposals</strong>
                </div>
                <div class="card-body">

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-password">Quotation No</label>
                    <div class="col-md-9">
                      <input type="text" id="QuotationNo" name="QuotationNo" class="form-control" formControlName="QuotationNo">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-email">Proposal No</label>
                    <div class="col-md-9">
                      <input type="text" id="ProposalNo" name="ProposalNo" class="form-control" formControlName="ProposalNo">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-password">Bank</label>
                    <div class="col-md-9">
                      <select id="BankId" name="BankId" class="form-control" formControlName="BankId">
                        <option value="0">Please select</option>
                        <option *ngFor="let bank of banks" value={{bank.BankId}}>{{bank.BankName}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-password">Hnba Branch Code</label>
                    <div class="col-md-9">
                      <select id="HnbaBranchCode" name="HnbaBranchCode" class="form-control" formControlName="HnbaBranchCode">
                        <option value="0">Please select</option>
                        <option *ngFor="let hnbaBranch of hnbaBranches" value={{hnbaBranch.HnbaCode}}>{{hnbaBranch.HnbaBranchName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-password">Loan Type</label>
                    <div class="col-md-9">
                      <select id="LoanTypeId" name="LoanTypeId" class="form-control" formControlName="LoanTypeId">
                        <option value="0">Please select</option>
                        <option *ngFor="let loanType of loanTypes" value={{loanType.LoanTypeId}}>{{loanType.LoanTypeName}}</option>
                      </select>
                    </div>
                  </div>



                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-primary" (click)="onProposalSearchSubmit()"><i class="fa fa-dot-circle-o"></i>
                    Search</button>
                  <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>

                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Seacrh Result
              </div>
              <div class="card-body">
                <table class="table table-striped" [mfData]="proposaldata" #mf2="mfDataTable" [mfRowsOnPage]="5">
                  <thead>
                    <tr>

                      <th style="width: 20%">
                        <mfDefaultSorter by="QuotationNo">Quotation No</mfDefaultSorter>
                      </th>

                      <th style="width: 30%">
                        <mfDefaultSorter by="ProposalNo">Proposal No</mfDefaultSorter>
                      </th>
                      <th style="width: 10%">
                        Edit
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let main of mf2.data">
                      <td>{{ main.QuotationNo }}</td>
                      <td>{{ main.ProposalNo }}</td>
                      <td><a (click)="onProposaSelectSubmit(main.SeqId, main.ProposalNo )" class="btn btn-primary">Select</a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>



              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="searchProposalModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div bsModal #viewMedicalLetterModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Medical Letter</h4>
        <button type="button" class="close" (click)="viewMedicalLetterModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe [src]="MedicalLetterDocURL" style="zoom:0.60" frameborder="0" height="800" width="99.6%"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="viewMedicalLetterModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<toaster-container [toasterconfig]="toasterconfig"></toaster-container>