<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="form-horizontal" [formGroup]="searchProposalForm">
          <div class="card-header">
            <strong>Search Proposals</strong>
          </div>
          <div class="card-body">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-password">Quotation No</label>
              <div class="col-md-9">
                <input type="text" id="QuotationNo" name="QuotationNo" class="form-control" formControlName="QuotationNo">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Proposal No</label>
              <div class="col-md-9">
                <input type="text" id="ProposalNo" name="ProposalNo" class="form-control" formControlName="ProposalNo">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-password">Bank</label>
              <div class="col-md-9">
                <select id="BankId" name="BankId" class="form-control" formControlName="BankId">
                  <option value="0">Please select</option>
                  <option *ngFor="let bank of banks" value={{bank.BankId}}>{{bank.BankName}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-password">Hnba Branch Code</label>
              <div class="col-md-9">
                <select id="HnbaBranchCode" name="HnbaBranchCode" class="form-control" formControlName="HnbaBranchCode">
                  <option value="0">Please select</option>
                  <option *ngFor="let hnbaBranch of hnbaBranches" value={{hnbaBranch.HnbaCode}}>{{hnbaBranch.HnbaBranchName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-password">Loan Type</label>
              <div class="col-md-9">
                <select id="LoanTypeId" name="LoanTypeId" class="form-control" formControlName="LoanTypeId">
                  <option value="0">Please select</option>
                  <option *ngFor="let loanType of loanTypes" value={{loanType.LoanTypeId}}>{{loanType.LoanTypeName}}</option>
                </select>
              </div>
            </div>



          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-primary" (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Search</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>

          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Seacrh Result
        </div>
        <div class="card-body">
          <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>

                <th style="width: 20%">
                  <mfDefaultSorter by="QuotationNo">Quotation No</mfDefaultSorter>
                </th>

                <th style="width: 30%">
                  <mfDefaultSorter by="ProposalNo">Proposal No</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  Edit
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let main of mf.data">
                <td>{{ main.QuotationNo }}</td>
                <td>{{ main.ProposalNo }}</td>
                <td><a [routerLink]="['edit-proposal', main.SeqId]" class="btn btn-primary">Edit</a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>



        </div>
      </div>
    </div>
  </div>
</div>